@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');
/* 
    ページ設定
====================================== */
:root {
    --overlay: linear-gradient(135deg, rgba(240, 102, 166, .6), rgba(162, 96, 191, .6), rgba(0, 103, 194, .6));
    --overlay-BlueToPink: linear-gradient(135deg, rgba(0, 103, 194, .6), rgba(240, 102, 166, .6));
    --overlay-PinkToPurple: linear-gradient(135deg, rgba(240, 102, 166, .6), rgba(162, 96, 191, .6));

}

html {
    font-size: 100%;
}

body {
    color: #333;
    font-size: 1rem;
    font-family: 'Roboto', 'Noto Sans JP' ,sans-serif;
    /* 2回目以降のロードで一瞬ロード画面がちらつく問題の対策 */
    opacity: 0;
}

a {
    color: #333;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

ul {
    list-style: none;
}

/* 
    共通
====================================== */
/* Layout */
.inner {
    max-width: 1240px;
    margin: 0 auto;
    padding: 100px 16px;
}

/* logo */
.logo {
    font-size: 2rem;
    font-weight: bold;
}

/* section-title */
.section-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}

.section-title__en {
    margin-bottom: 5px;
    font-size: clamp(3rem, 5.85vw,5rem );
    letter-spacing: 2px;
}

.section-title__ja {
    display: block;
    font-size: clamp(1.125rem, 2.34vw, 2rem);
}

/* ボタン */
.btn {
    display: inline-block;
    position: relative;
    width: 350px;
    margin: 0 auto;
    padding: 1.5rem 5rem;
    border-radius: 50px;
    background: linear-gradient(135deg, rgba(240, 102, 166, .6), rgba(162, 96, 191, .6), rgba(0, 103, 194, .6), rgba(240, 102, 166, .6), rgba(162, 96, 191, .6), rgba(0, 103, 194, .6),rgba(240, 102, 166, .6), rgba(162, 96, 191, .6), rgba(0, 103, 194, .6));
    background-size: 300% auto;
    background-position: top left;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    transition: all .3s ease;
}

/* ボタン右の矢印 */
.btn::after {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%) rotate(45deg);
    width: 15px;
    height: 15px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
}

.btn:focus,
.btn:hover {
    transform: scale(1.1);
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .6);
    background-position: bottom right;
}

/* スクロールしたらフェードイン */
.js-fadeIn {
    opacity: 0;
    transform: translateY(50px);
    transition: all .3s ease;
} 

.js-fadeIn.scrollIn {
    opacity: 1;
    transform: translateY(0);
}

/* 区切り線 */
.hr {
    height: 5px;
    background: var(--overlay);
}

/* 
    header
====================================== */
.header {
    position: absolute;
    height: 80px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    padding-top: 0;
    padding-bottom: 0;
}

.header__logo {
    display: none;
}

/* ナビゲーション */
.header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: -120%;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background: rgba(255, 255, 255, .6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    transition: .8s ease;
}
/* ナビゲーション .show付与時*/
.header-nav.show {
    top: 0;
}

.header-nav__logo {
    display: inline-block;
    margin-top: 80px;
}

.header-nav__list {
    width: 100%;
    padding: 20px 0 60px;
}

.header-nav__item {
    overflow: hidden;/* 非ホバー時（通常時）は昇降ボックスを隠す */
    text-align: center;
}

.header-nav__link {
    display: block;
    position: relative;
    padding: 8px;
    font-size: 1.25rem;
    transition: all .3s ease;
}

/* ナビゲーションリンク 昇降ボックス */
.header-nav__link::after {
    display: block;
    position: absolute;
    bottom: 100%;
    right: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: var(--overlay);
    color: #fff;
    content: attr(data-hover);
    transition: all .3s ease;
}

/* ナビゲーションリンク hover 昇降ボックス */
.header-nav__item:focus .header-nav__link,
.header-nav__item:hover .header-nav__link {
    transform: translateY(100%);
}


/* ハンバーガーメニュー */
.hamburger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    width: 80px;
    height: 80px;
}

.hamburger:focus,
.hamburger:hover {
    opacity: .6;
    transition: opacity .3s ease;
}

.hamburger__bar {
    display: inline-block;
    position: absolute;
    right: 25%;
    width: 50%;
    height: 5px;
    border-radius: 3px;
    background: #0067C0;
    transition: .6s ease;
}

.hamburger__bar:nth-of-type(1) {
    top: 24px;
}

.hamburger__bar:nth-of-type(2) {
    top: 38px;
}

.hamburger__bar:nth-of-type(3) {
    top: 52px;
}

/* ハンバーガーメニュー .active付与時 */
.active .hamburger__bar:nth-of-type(1) {
    top: 38px;
    transform: rotate(45deg);
}

.active .hamburger__bar:nth-of-type(2) {
    top: 38px;
    right: 0;
    opacity: 0;
}

.active .hamburger__bar:nth-of-type(3) {
    top: 38px;
    transform: rotate(-45deg);
}

/* 
    footer
====================================== */
.footer {
    background: var(--overlay-PinkToPurple);
    text-align: center;
}

.footer__logo {
    margin-bottom: 16px;
}

.copyright {
    font-size: .75rem;
}

.credit {
    display: block;
    color: rgba(0, 0, 0, .5);
    font-size: .75rem;
}

/* ページトップボタン index.htmlのみ*/
.page-top {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 5;
    transform: translateY(-100px);
}

.page-top span {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg, rgba(240, 102, 166), rgba(162, 96, 191), rgba(0, 103, 194));
    transition: opacity .3s ease;
}

/* ページトップボタン 矢印 */
.page-top span::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -35%) rotate(-45deg);
    width: 25px;
    height: 25px;
    border-top: 5px solid #fff;
    border-right: 5px solid #fff;
    content: '';
}

/* ページトップボタン hover時 */
.page-top:focus span,
.page-top:hover span {
    opacity: .7;
}

/* 下から上に移動 */
.UpMove{
    animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 上から下に移動 */
.DownMove{
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
from {
    opacity: 1;
    transform: translateY(0);
}
to {
    opacity: 1;
    transform: translateY(100px);
}
}

/* 
    [index.html]
**************************************************************************** */
/* 
    loading
====================================== */
.load {
    display: none;
}

.loaded {
    opacity: 0;
    visibility: hidden;
}

/* 初回ロード時に付与 */
.is-active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    transition: all 1s;
    background: linear-gradient(135deg, rgba(240, 102, 166), rgba(162, 96, 191), rgba(0, 103, 194));
}

/* svg */
#svg_loading {
    transform: translateY(-10%);
}

#clipmask path {
    fill: none;
    stroke: #fff;
    stroke-width:10px;
}

/* 
    mainvisual
====================================== */
.mainvisual {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--overlay), url(../img/mainvisual.png) no-repeat center / cover;
}

.title {
    color: #000;
    font-size: clamp(4rem, 11.71vw,10rem);
    text-align: center;
    filter: drop-shadow(4px 4px 1px rgba(255, 255, 255, .6));
}

.sub-title {
    display: block;
    font-size: clamp(2rem, 4.68vw, 4.5rem);
}

/* 
    about
====================================== */
.about-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
}

.about-profile__img-area {
    margin-bottom: 8px;
    width: 300px;
    height: 300px;
}
.about-profile__img-area img {
    height: 100%;
    object-fit: cover;
}

.profile-text-area__title {
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.profile-text-area__title--name {
    text-align: center;
}

.profile-text-area__text {
    line-height: 1.75;
}

.profile-text-area__text:not(:last-of-type) {
    margin-bottom: 16px;
}

/* 
    skill
====================================== */
.skill {
    background: var(--overlay-BlueToPink);
}

.skill-contents {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .6);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    max-width: 450px;
    margin: 0 auto;
}

.skill-content {
    display: flex;
    justify-content: space-between;
}

.skill-content__thumb {
    width: 50px;
}

.skill-content__icon {
    width: 50px;
    height: 50px;
}

.skill-content__body {
    width: calc(100% - 50px);
    padding-left: 8px;
}

.skill-content__title {
    font-size: 1.5rem;
    line-height: 50px;
}

.skill-content__text {
    line-height: 1.75;
}

/* 
    work
====================================== */
.work-contents {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 32px;
}

.work-content__img {
    box-shadow: 3px 5px 5px rgba(0, 0, 0, .6);
    transition: .3s ease;
}

/* 画像hoverで拡大 */
.work-content__img:focus,
.work-content__img:hover {
    box-shadow: 6px 10px 10px rgba(0, 0, 0, .6);
    transform: scale(1.05);
}

.work-content__title {
    margin-top: 16px;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
}

/* モーダル */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.modal__bg {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5);
}

.modal_contents {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    width: 90%;
    height: 90%;
    background: #fff;
}

.modal-contents__title {
    padding-top: 24px;
    font-size: 1.5rem;
    letter-spacing: .1em;
    text-align: center;
}

.modal-content {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin: 0 auto;
    padding: 16px;
}

.modal-content__thumb {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

/* モーダル内 WEBページボタン */
.modal-content__btn {
    display: inline-block;
    margin-top: 8px;
    margin-left: auto;
    padding: 8px 16px;
    border-radius: 5px;
    background: rgba(0, 103, 194, .6);
    color: #fff;
    transition: background-color .3s ease;
}

.modal-content__btn:focus,
.modal-content__btn:hover {
    background: #0067C0;
}

.modal-content__disc {
    margin-bottom: 40px;
}

.modal-content__disc-title {
    position: relative;
    margin-bottom: 8px;
    padding-left: 36px;
    font-size: 1.125rem;
}

/* モーダル内タイトル 横線 */
.modal-content__disc-title::before {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 3;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
}

/* 項目タイトルの背景 横線との距離用 */
.modal-content__disc-title--bg {
    position: relative;
    z-index: 10;
    padding: 0 20px;
    background: #fff;
}



.modal-content__disc-title--large {
    font-size: 1.25rem;
}

/* モーダル閉じるボタン */
.close-btn {
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 0 0 0 45px;
    background: rgba(0, 103, 194, .6);
    transition: background-color .3s ease;
}

.close-btn:hover {
    background: #0067C0;
}

.close-btn__bar {
    position: absolute;
    left: 40%;
    display: inline-block;
    width: 50%;
    height: 3px;
    background: #fff;
}

.close-btn__bar:nth-of-type(1) {
    top: 17px;
    transform: rotate(45deg);
}

.close-btn__bar:nth-of-type(2) {
    top: 17px;
    transform: rotate(-45deg);
}

/* モーダルウィンドウ表示中に記事本体を固定 */
body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}



/* 
    contact
====================================== */
.contact {
    text-align: center;
}

.contact__pra {
    line-height: 1.75;
}

.contact__btn {
    margin-top: 32px;
}

/* 
    [contact.html]
**************************************************************************** */
/* 
    contact-form
====================================== */
.page-header {
    position: relative;
    width: 100%;
    height: min(30vw, 250px);
    background: var(--overlay), url(../img/page_header_contact.png) no-repeat bottom right / contain;
}

.page-header__inner {
    padding-top: 0;
    padding-bottom: 0;
}

.page-header__title {
    position: absolute;
    bottom: 10%;
    left: 16px;
    margin: 0;
    color: #fff;
    text-align: left;
}

.page-header__en {
    font-size: 2.5rem;
}

.page-header__ja {
    font-size: 1.25rem;
    margin-left: 16px;
}

.contact-form__inner {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 16px;
}

.contact-form__pra {
    margin-bottom: 30px;
    margin: 0 auto 30px;
}


/* フォーム */

.form__unit {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.form__unit:last-child {
    margin-top: 48px;
    margin-bottom: 0;
}

.form__head {
    font-size: 1.125rem;
    margin-bottom: 8px;
}

.form__body {
    padding: 2px 8px;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 2;
}

.form__body:focus {
    outline: 3px solid rgba(162, 96, 191, .6);
}

.form__head--required::before {
    display: inline-block;
    margin-right: 8px;
    padding: 0 8px;
    border-radius: 3px;
    background: rgb(224, 0, 0);
    color: #fff;
    font-size: 1.125rem;
    font-weight: bold;
    content: '必須';
}

.form__body--textarea {
    height: 7rem;
}

.form__submit-btn {
    width: 250px;
    margin: 0 auto;
    padding: 1.125rem 5rem;
    border-radius: 5px;
    font-size: 1.125rem;
    letter-spacing: .3em;
}
/*
    PC 600px
**************************************************************************** */
@media screen and (min-width: 600px) {
    /* 
        共通モジュール
    ====================================== */
    /* Layout */
    .inner {
        padding-right: 20px;
        padding-left: 20px;
    }

    /* 
        [index.html]
    **************************************************************************** */
    /* 
        loading
    ====================================== */
    #svg_loading {
        width: 450px;
        height: 70px;
    }

    /* 
        mainvisual
    ====================================== */
    .sp {
        display: none;
    }

    /* 
        skill
    ====================================== */
    .skill-contents {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 32px;
        max-width: 1000px;
        padding: 32px;
    }

    /* 
        work
    ====================================== */
    .work-contents {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    /* 
        [contact.html]
    **************************************************************************** */
    /* 
        contact-form
    ====================================== */
    .page-header__en {
        font-size: 3.5rem;
    }
    
    .page-header__ja {
        font-size: 1.75rem;
        margin-left: 16px;
    }
    
}

/*
    PC 960px
**************************************************************************** */
@media screen and (min-width: 960px) {
    /* 
        共通モジュール
    ====================================== */
    /* Layout */
    .inner {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    /* 
        header
    ====================================== */
    .header {
        position: fixed;
        z-index: 999;
        width: 100%;
        background: linear-gradient( rgba(255, 255, 255, .8) 20%, transparent);
    }

    .header__inner {
        padding-top: 0;
        padding-bottom: 0;
    }

    .header__logo {
        display: block;
        transition: opacity .3s ease;
    }

    .header__logo:focus,
    .header__logo:hover {
        opacity: .6;
    }

    /* ナビゲーション */
    .header-nav {
        flex-direction: row;
        position: static;
        width: auto;
        height: inherit;
        background: none;
        backdrop-filter: none;
    }

    .header-nav__logo {
        display: none;
    }

    .header-nav__list {
        display: flex;
        align-items: center;
        padding: 0;
    }

    .header-nav__item {
        margin: 0 0 0 20px;
    }

    .header-nav__link {
        padding: 8px 35px;
    }

    /* ナビゲーションリンク 昇降ボックス */
    .header-nav__link::after {
        font-size: 1.125rem;
    }

    /* ハンバーガーメニュー */
    .hamburger {
        display: none;
    }

    /* 
        loading
    ====================================== */
    #svg_loading {
        width: 800px;
        height: 150px;
    }

    /* 
        about
    ====================================== */
    .about-profile {
        flex-direction: row;
        justify-content: space-between;
        max-width: none;
        width: 100%;
    }

    .about-profile__img-area {
        width: 35%;
        height: auto;
    }

    .about-profile__text-area {
        width: 60%;
    }

    .profile-text-area__title--name {
        text-align: left;
    }
    /* 
        work
    ====================================== */
    .work-contents {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
    }

    /* モーダル */
    .modal_contents {
        max-width: 1200px;
        max-height: 700px;
        height: auto;
    }

    .modal-content__btn {
        margin-right: auto;
    }

    .modal-content {
        flex-direction: row;
        max-width: 1200px;
        width: 100%;
        padding: 20px;
    }

    .modal-content__thumb {
        width: 50%;
        margin-bottom: 0;
    }

    .modal-content__body {
        width: 50%;
        padding-left: 24px;
    }

    /* 
        [contact.html]
    **************************************************************************** */
    /* 
        contact-form
    ====================================== */
    /* ナビゲーション 現在 */
    .current.header-nav__item .header-nav__link,
    .current.header-nav__item .header-nav__link {
        transform: translateY(100%);
    }

    .page-header__inner {
        position: relative;
        padding-top: 0;
        padding-bottom: 0;
        height: inherit;
    }
}